{%- assign fb_guide = page.title | url_encode -%}
{%- assign fb_url = page.url | absolute_url | url_encode -%}
<div class="feedback">
<p class="feedback-lede">Something wrong, unclear, or missing on this page?</p>
<a class="feedback-btn" href="https://docs.google.com/forms/d/e/1FAIpQLSeRpO6MOve96TcSFl6TOZL383j3cJ6oyqnPy2VG5joxngoFhg/viewform?usp=pp_url&amp;entry.262754240={{ fb_guide }}&amp;entry.130157017={{ fb_url }}" target="_blank" rel="noopener">Tell us</a>
<p class="feedback-note">Takes about 30 seconds. No account needed.</p>
</div>